<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quick Weather</title>
  </head>
  <body>
    <p>What address do you want to check the info for?</p>

    <form action="/search">
      <input type="text" name="a"/>
    </form type="submit">

    {{> footer}}
  </body>
</html>
