<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quick Weather</title>
  </head>
  <body bgcolor="#ccffff">
    <div style="width:800px; height:350px; background-color:#f8f8ff; border-radius:15px; box-shadow: 2px 7px 20px; position:fixed; top:50%; left:50%; margin-top:-175px; margin-left:-400px;">
      <div style="padding:20px; margin-bottom:20px;">
        <p align="center" style="font-size:35px;">What address do you want to check the weather for?</p>
        <br>
        <form action="/search">
          <input type="text" name="a" style="width:740px; font-size:30px;"/>
          <input type="submit" value="Check" style="width:200px; margin-left:280px; margin-top:25px; font-size:40px;"/>
        </form type="submit">
      </div>
    </div>
    {{> footer}}
  </body>
</html>
